.container {
    background-color: #fff;
    margin-left: 3.264vw;
    margin-right: 3.264vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3.172vw;
}

.main {
    display: flex;
    padding: 1.875vw 6.389vw 3.611vw 6.389vw;
}

.info {
    margin-left: 5.903vw;
}

.else {
    font-weight: 900;
    font-size: 6.944vw;
    line-height: 8.472vw;
    color: #544F4F;
    margin-bottom: 2.431vw;
}

.text {
    font-weight: 900;
    font-size: 3.472vw;
    line-height: 4.236vw;
    text-transform: uppercase;
    color: #FF96C2;
    margin-bottom: 2.083vw;
}

.buttons {
    display: flex;
}

.prof {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    height: 18.819vw;
    width: 37.5vw;
    position: relative;
    margin-right: 5.556vw;
}

.top {
    border: 11px solid #C5F132;
    border-radius: 5.139vw;
    height: 17.153vw;
    width: 36.667vw;
    font-weight: 900;
    font-size: 2.778vw;
    line-height: 3.403vw;
    color: #544F4F;
    text-transform: uppercase;
    padding-top: 3.333vw;
}

.topSec {
    border: 11px solid #FF96C2;
    border-radius: 5.139vw;
    height: 17.153vw;
    width: 36.667vw;
    font-weight: 900;
    font-size: 2.778vw;
    line-height: 3.403vw;
    color: #544F4F;
    text-transform: uppercase;
    padding-top: 3.333vw;
}

.bottom {
    height: 8.542vw;
    font-weight: 900;
    font-size: 3.472vw;
    line-height: 4.375vw;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #C5F132;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 61.5px;
    position: absolute;
    bottom: 0;
    width: 37.5vw;
    left: -0.625vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.bottomSec {
    height: 8.542vw;
    font-weight: 900;
    font-size: 3.472vw;
    line-height: 4.375vw;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #FF96C2;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 61.5px;
    position: absolute;
    bottom: 0;
    width: 37.5vw;
    left: -0.625vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.stud {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    height: 18.819vw;
    width: 37.5vw;
    position: relative;
}